{% extends "layout.html" %}
{% block title %}Tilastot | {{ course.name }}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1>{{ course.name }}</h1>
</div>
{% if session.user_id %}
<div class="d-flex justify-content-center">
    <nav>
        {% if session.admin %}
        <a class="btn btn-outline-primary" href="/courses/{{ course.id }}" role="button">Kurssisivu</a>
        <a class="btn btn-outline-primary" href="/courses/{{ course.id }}/statistics" role="button">Kurssin tilastot</a>
        <a class="btn btn-outline-danger" href="/delete_course" role="button">Poista kurssi</a>
        {% elif user_in_course %}
        <a class="btn btn-outline-primary" href="/remove_from_course" role="button">Poistu kurssilta</a>
        {% else %}
        <a class="btn btn-outline-primary" href="/join_course" role="button">Liity kurssille</a>
        {% endif %}
    </nav>
</div>
<section>
    <h3 class="header mt-3">Kurssin opiskelijat ja pisteet</h3>
    {% if session.admin %}
    <ul class="list-group list-group-flush">
        {% for key, value in participant_points.items() %}
        <li class="list-group-item"><b>{{ key }}:</b> {{ value[0] }}/{{ value[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p style="color:red;">{{ message }}</p>
</section>
{% endif %}
{% endblock %}