{% extends "layout.html" %}
{% block title %}Tilastot | {{ course.name }}{% endblock %}
{% block content %}
<h1 class="text-center">{{ course.name }}</h1>
<nav class="text-center">
    {% if session.admin %}
      <a class="btn btn-outline-primary" href="/courses/{{ course.id }}" role="button">Kurssisivu</a>
      <a class="btn btn-outline-primary" href="/courses/{{ course.id }}/statistics" role="button">Kurssin tilastot</a>
      <a class="btn btn-outline-danger" href="/delete_course" role="button">Poista kurssi</a>
    {% elif user_in_course %}
    <a class="btn btn-outline-primary" href="/remove_from_course" role="button">Poistu kurssilta</a>
    {% else %}
    <a class="btn btn-outline-primary" href="/join_course" role="button">Liity kurssille</a>
    {% endif %}
  </ul>
</nav>
<section>
    Kurssin opiskelijat ja pisteet
    {% if session.admin %}
    <ul>
        {% for key, value in participant_points.items() %}
        <li><b>{{ key }}</b> {{ value[0] }}/{{ value[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
<section>
    <p style="color:red;">{{ message }}</p>
</section>
{% endblock %}