<!DOCTYPE html>
<html lang="fi">
    <head>
        <title>Tilastot | {{ course.name }} | Opetussovellus</title>
    </head>
    <body>
        <header>
            <h1>Kurssin opiskelijat ja pisteet</h1>
            <nav>
                <a href="/courses/{{ course.id }}">Takaisin</a>
            </nav>
        </header>
        <section>
            {% if session.admin %}
            <ul>
                {% for key, value in participant_points.items() %}
                <li><b>{{ key }}</b> {{ value[0] }}/{{ value[1] }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        <section>
            <p style="color:red;">{{ message }}</p>
        </section>
    </body>
</html>