{% extends "layout.html" %}
{% block title %}Aloitussivu{% endblock %}
{% block content %}
  <div class="list-group">
      {% if session.user_id %} 
      {% if session.admin %}
      {% for k, v in statistics.items() %}
      <h5><a href="/courses/{{ k }}", class="list-group-item list-group-item-action"><b>{{ v[2] }}</b></a></h5>
      {% endfor %}
      {% else %}
      {% for k, v in statistics.items() %}
      <h5><a href="/courses/{{ k }}", class="list-group-item list-group-item-action"><b>{{ v[2] }}</b> {{ v[0] }}/{{ v[1] }} pistettä</a></h5>
      {% endfor %}
      {% endif %}
      {% else %}
      {% for course in courses %}
      <h5><a href="#" class="list-group-item list-group-item-action disabled"><b>{{ course.name }}</b></a></h5>
      {% endfor %}
      {% endif %}
  </div>
  {% if session.admin %}
  <p>
  <h4>Lisää kurssi:</h4>
  <form action="/add_course" method="post">
    <div class="form-group">
      <input type="text" class="form-control-lg" name="course_name">
    </div>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button type="submit" class="btn btn-primary">Lisää</button>
  </form>
  </p>
  {% endif %}
  <p style="color:red;">{{ message }}</p>
{% endblock %}