Tervetuloa!
<p>
{% if session.user_id %} 
<p>Olet kirjautunut sisään.</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<a href="/register">Rekisteröidy</a>
{% endif %}
<hr>
{% for course in courses %}
{% if session.user_id %} 
<a href="/courses/{{ course.id }}">{{ course.name }}</a>
{% else %}
{{ course.name }}
{% endif %}
<hr>
{% endfor %}
{% if session.admin %}
Lisää kurssi:
<p>
<form action="/add_course" method="post">
Kurssin nimi: <input type="text" name="course_name">
<p>
<input type="submit" value="Lisää">
</form>
{% endif %}