<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>{% block title %}{% endblock %} | Opetussovellus</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                    <a class="navbar-brand" href="/">Opetussovellus</a>
                    {% if session.user_id %}
                    <ul class="navbar-nav mx-auto">
                        <span class="navbar-text">
                            {{ session.username }} {% if session.admin %} [Opettaja] {% else %} [Opiskelija] {% endif %}
                        </span>
                    </ul>
                    <a class ="btn btn-outline-light" href="/logout">Kirjaudu ulos</a>
                    {% else %}
                    <ul class="navbar-nav mx-auto">
                        <span class="navbar-text">
                            Kirjaudu sisään nähdäksesi kurssien sisällön.
                        </span>
                    </ul>
                    <a class ="btn btn-outline-light" href="/login">Kirjaudu sisään</a>
                    <a class ="btn btn-outline-light" href="/register">Rekisteröidy</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>