{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}
<h1>Kirjaudu sisään</h1>
<section>
    <form action="/login" method="post">
    <p>Tunnus: <input type="text" name="username" required minlength="1" required maxlength ="50"></p>
    <p>Salasana: <input type="password" name="password" required minlength="1" required maxlength ="50"></p>
    <input type="submit" value="Kirjaudu">
    </form>
</section>
<section>
    <p style="color:red;">{{ message }}</p>
</section>
{% endblock %}