{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
<h1>Rekisteröidy</h1>
<section>
    <form action="/register" method="post">
    <p>Tunnus: <input type="text" name="username" required minlength="1" required maxlength ="50"></p>
    <p>Salasana: <input type="password" name="password1" required minlength="1" required maxlength ="50"></p>
    <p>Salasana uudestaan: <input type="password" name="password2" required minlength="1" required maxlength ="50">
    <p><input type="checkbox" name="teacher" value="1"> Opettaja</p>
    <input type="submit" value="Luo tunnus">
    </form>
</section> 
<section>
    <p style="color:red;">{{ message }}</p>
</section>
{% endblock %}