<!DOCTYPE html>
<html lang="fi">
    <head>
        <title>Pistetaulukko | Opetussovellus</title>
    </head>
    <body>
        <header>
            <h1>Pistetaulukko</h1>
            <nav>
                <a href="/">Takaisin</a>
            </nav>
        </header>
        <section>
            <ul>
                {% for k, v in courses.items() %}
                <li><b>{{ k }}</b> {{ v[0] }}/{{ v[1] }} pistettä</li>
                {% endfor %}
            </ul>
        </section>
        <footer>
        </footer>
    </body>
</html>